    <% @posts.each.with_index do |post,i| %>
      <div class="col-sm-12">
            <div class="panel panel-info	">

              <div class="panel-heading">
                <h4>
                  <a data-toggle="collapse" href="#<%= i %>"><%= post.title %></a>
                </h4>
              </div>
              
              <div id="<%= i %>" class="panel-collapse collapse">

                <div class="panel-body">
                  <%= post.body %>
                </div>

                <div class="panel-footer">
                  <a href="/posts/<%=post.id%>/rankup"><span class="glyphicon glyphicon-ok"></span></a>
                  <a href="/posts/<%=post.id%>/rankdown"><span class="glyphicon glyphicon-remove"></span></a>
                  <% if user_signed_in? && current_user.id == post.user_id %>
                    <div class="buttons">
                      <a href="/posts/<%=post.id%>/edit"><span class="glyphicon glyphicon-star"></span></a>
                      <a href="/posts/<%=post.id%>/edit"><span class="glyphicon glyphicon-edit"></span></a>
                      <a href="/posts/<%=post.id%>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  <% end %>
                </div>
                
              </div>
            </div>
        </div>
    <% end %>
    <%= link_to 'エクスポート', posts_index_path(format: :csv), class: 'btn btn-primary mb-5' %>

    <%= form_tag import_posts_path, multipart: true, class: 'mb-5' do %>
      <%= file_field_tag :file %>
      <%= submit_tag "インポート", class: 'btn btn-primary' %>
    <% end%>

    <%= paginate(@posts) %>